---
const { project } = Astro.props;
---

<div class="project-card">
  {project.image && <img src={project.image} alt={project.title} style="width: 25%; height: auto; object-fit: contain;" />}
  <h2>{project.title}</h2>
  <p>{project.description}</p>
  <a href={project.Link} target="_blank" rel="noopener noreferrer">Ver proyecto</a>
</div>
